/* primary color */
.primary-color {
    background-color: #FF42A5;
}

body {
    max-width: 1400px;
}

/* header style */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 0 4rem;
}


nav ul,
.nav-logo {

    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

nav>ul>li>a {
    font-size: 1rem;
    text-decoration: none;
}

.tiktok-img {
    height: 0.8rem;
}

.follow {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
}

/* play like the  GOAT section style  */
.goat-container {
    display: flex;
    height: fit-content;


}

.goat {
    height: auto;
    width: 50%;
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 14%;
    padding-top: 1.5rem;
}

.goat-img img {
    width: 70%;
    height: fit-content;
    margin-left: 2rem;

}


.goat-title-1 {

    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.goat-title-2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.goat-text {
    color: #534C64;
    font-size: 0.5rem;
    font-weight: 500;

}

.sign-in-btn {

    color: #FFF;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;

}

.rogue-btn {
    color: #FFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.8rem;
    background: #4EC5F7;
    margin-left: 10px;

}

/* <!-- We Are Gamer Section style  --> */

.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.gamer-img{
    padding-left: 11%;
    width: 55%;
}

.gamer-content{
    padding-right: 11%;
 text-align: right;
}
.gamer-content > h2{
font-size: 2rem;
font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-container > p{
    color: #534C64;
font-size: 0.5rem;
font-weight: 400;
}
.gamer-content> button{
    color: #FFF;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;

}


.funny-video-content{
    margin-top:50px;
text-align: center;
}
.funny-video-content h1{
    font-size: 2rem;
font-weight: 800;
}
.funny-video-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.funny-video-img{
    display: flex;
    gap: 15px;
    margin: 3rem 9rem;
}
.funny-img {  
    width:100%;
}
.funny-image-container {
    position: relative;
    display: inline-block; 
  }
 
  /* Styling for the overlay */
  .funny-image-container .overlay {
    position: absolute;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 79%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.9s ease;
    cursor: pointer;
  }
  
  .funny-image-container .overlay i {
    margin-top: 10px;
    margin-left: 2rem;
    color: #fff;
    font-size: 2rem;
  }
  
  .funny-image-container .overlay p {
    margin-top: 0.5rem;
    color: #fc0bb4;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  /* Show the overlay on hover */
  .funny-image-container:hover .overlay {
    opacity: 1;
  }
  


/* responsive for mobile */

@media screen and (max-width: 576px) {
  /* header section  */
    nav,
    nav ul {
        flex-direction: column;
    }

    .nav-logo {
        justify-content: center;
    }

    nav,
    nav ul {

        padding: 0;
    }

    .follow {
        white-space: nowrap;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: rgba(11, 2, 35, 0.10);
    }

    /* play like the  GOAT section  */

    .goat-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .goat {
        padding-left: 35%;
        padding-top: 10%;
        padding-bottom: 13%;
        width: 100%;

    }

    .goat-img img {
        margin-left: 15%;
    }

    /* <!-- We Are Gamer Section   --> */

    .gamer-container{
        flex-direction: column;
        background: #FFF;
    }
    .gamer-img{
        padding: 0 10%;
        width: 100%;
    }
    .gamer-content{
        padding: 0 10%;
        text-align: center;
    }

  
}


/* responsive for  tablet  */


@media screen and (min-width :577px) and (max-width: 992px) {

    nav,
    nav ul {
        flex-direction: column;
        justify-content: center;
    }

    .nav-logo {
        justify-content: center;
    }

    nav,
    nav ul {

        padding: 0;
    }

    .follow {
        white-space: nowrap;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: rgba(11, 2, 35, 0.10);
    }

    /* play like the  GOAT section  */

    .goat-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .goat {
        padding-left: 40%;
        padding-top: 10%;
        padding-bottom: 13%;
        width: 100%;

    }

    .goat-img img {
        margin-left: 15%;
    }

    /* <!-- We Are Gamer Section   --> */

    .gamer-container{
        background: #FFF;
    }

}