/* primary color */
.primary-color {
    background-color: #FF42A5;
}
/* header style */
header {

}

nav {
    display: flex;
    justify-content: space-between;
    margin:0  100px ;
    padding:0 4rem;
}


nav ul,
.nav-logo {

    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

nav>ul>li>a {
    font-size: 1rem;
    text-decoration: none;
}

.tiktok-img {
    height: 0.8rem;
}

.follow {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
}